In [1]:
import pandas as pd
from pprint import pprint

In [2]:
# Creating a dataframe from the csv data
data_id = "T002"
raw_data_csv_path = "/Users/hlinero/Desktop/iTEM Material/raw dataset/T002/"
df = pd.read_csv(raw_data_csv_path+"T002_ITF_GOODS_TRANSPORT_25102019112757117.csv")
df.head(50)

,COUNTRY,Country,VARIABLE,Variable,YEAR,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),1970,1970,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
1,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),1971,1971,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
2,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),1972,1972,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
3,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),1973,1973,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
4,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),1974,1974,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
5,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),1975,1975,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
6,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),1976,1976,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
7,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),1977,1977,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
8,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),1978,1978,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
9,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),1979,1979,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
10,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),1980,1980,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
11,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),1981,1981,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
12,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),1982,1982,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
13,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),1983,1983,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
14,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),1984,1984,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
15,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),1985,1985,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
16,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),1986,1986,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
17,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),1987,1987,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
18,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),1988,1988,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
19,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),1989,1989,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
20,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),1990,1990,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
21,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),1991,1991,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
22,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),1992,1992,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
23,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),1993,1993,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
24,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),1994,1994,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
25,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),1995,1995,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
26,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),1996,1996,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
27,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),1997,1997,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
28,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),1998,1998,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
29,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),1999,1999,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
30,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),2000,2000,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
31,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),2001,2001,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
32,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),2002,2002,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
33,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),2003,2003,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
34,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),2004,2004,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
35,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),2005,2005,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
36,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),2006,2006,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
37,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),2007,2007,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
38,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),2008,2008,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
39,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),2009,2009,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
40,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),2010,2010,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
41,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),2011,2011,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
42,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),2012,2012,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
43,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),2013,2013,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
44,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),2014,2014,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
45,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),2015,2015,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
46,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),2016,2016,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
47,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),2017,2017,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
48,MKD,North Macedonia,T-CONT-SEA-TON,Maritime containers transport (weight),2018,2018,TONNE,Tonnes,3,Thousands,NaN,NaN,NaN,M,Missing value; data cannot exist
49,IND,India,T-CONT-RL-TEU,Rail containers transport (TEU),1996,1996,NBR,Number,0,Units,NaN,NaN,704000.0,NaN,NaN

# General Info about the data

In [3]:
# Getting general info about the data
rows, cols = df.shape
print(">> Number of Columns: {}".format(cols))
print(">> Number of Rows: {}".format(rows))

# Grouping the data by Countries
group_by_country = df.groupby(df.Country)
list_of_countries = list(group_by_country.groups.keys())
print(">> Number of countries: {}".format(len(list_of_countries)))

>> Number of Columns: 15
>> Number of Rows: 6481
>> Number of countries: 53

# Removing all unnecessary columns
    Rule: To comply with the latest template, we will drop all the unnecessary columns and rename others.

In [4]:
# Droping the repeated columns
columns_to_delete = ["COUNTRY", "YEAR", "VARIABLE","Reference Period Code","Unit Code","Reference Period", "Flag Codes", "Flags", "PowerCode Code"]
df.drop(columns=columns_to_delete, inplace = True)
df.rename(columns={"Country":"Region"}, inplace = True)
df

,Region,Variable,Year,Unit,PowerCode,Value
0,North Macedonia,Maritime containers transport (weight),1970,Tonnes,Thousands,NaN
1,North Macedonia,Maritime containers transport (weight),1971,Tonnes,Thousands,NaN
2,North Macedonia,Maritime containers transport (weight),1972,Tonnes,Thousands,NaN
3,North Macedonia,Maritime containers transport (weight),1973,Tonnes,Thousands,NaN
4,North Macedonia,Maritime containers transport (weight),1974,Tonnes,Thousands,NaN
...,...,...,...,...,...,...
6476,Belarus,Rail containers transport (weight),2017,Tonnes,Thousands,4786.0
6477,Belarus,Rail containers transport (weight),2018,Tonnes,Thousands,5478.3
6478,Belarus,Rail containers transport (TEU),2016,Number,Units,333484.0
6479,Belarus,Rail containers transport (TEU),2017,Number,Units,524020.0
6480,Belarus,Rail containers transport (TEU),2018,Number,Units,635886.0

# Identifying the countries that have NaN values
    Rule: Drop all columns who have NaN as value

In [5]:
list_of_countries_with_missing_values = list(set(df[df['Value'].isnull()]["Region"]))
print(">> Number of countries missing values: {}".format(len(list_of_countries_with_missing_values)))
print(">> Countries missing values:")
pprint(list_of_countries_with_missing_values)
print(">> Number of rows to erase: {}".format(len(df[df['Value'].isnull()])))

>> Number of countries missing values: 15
>> Countries missing values:
['Austria',
 'Moldova',
 'Czech Republic',
 'Belarus',
 'Hungary',
 'North Macedonia',
 'Armenia',
 'Switzerland',
 'Montenegro, Republic of',
 'Malta',
 'Liechtenstein',
 'Slovak Republic',
 'Iceland',
 'Luxembourg',
 'Serbia, Republic of']
>> Number of rows to erase: 1498

In [6]:
# Dropping the values
df.dropna(inplace = True)

# Adding the "Source" Column
    Rule: All the rows in this dataset come from the same source.

In [7]:
# Adding the column to the dataframe
df["Source"] = ["International Transport Forum"] * len(df)
df

,Region,Variable,Year,Unit,PowerCode,Value,Source
49,India,Rail containers transport (TEU),1996,Number,Units,704000.0,International Transport Forum
50,India,Rail containers transport (TEU),1997,Number,Units,722000.0,International Transport Forum
51,India,Rail containers transport (TEU),1998,Number,Units,802000.0,International Transport Forum
52,India,Rail containers transport (TEU),1999,Number,Units,903000.0,International Transport Forum
53,India,Rail containers transport (TEU),2000,Number,Units,1045000.0,International Transport Forum
...,...,...,...,...,...,...,...
6476,Belarus,Rail containers transport (weight),2017,Tonnes,Thousands,4786.0,International Transport Forum
6477,Belarus,Rail containers transport (weight),2018,Tonnes,Thousands,5478.3,International Transport Forum
6478,Belarus,Rail containers transport (TEU),2016,Number,Units,333484.0,International Transport Forum
6479,Belarus,Rail containers transport (TEU),2017,Number,Units,524020.0,International Transport Forum
6480,Belarus,Rail containers transport (TEU),2018,Number,Units,635886.0,International Transport Forum

# Adding the "Service" column
    Rule: Since all the data presented is related to "Freight", the service is "Freight"

In [8]:
# Adding the column to the dataframe
df["Service"] = ["Freight"] * len(df)
df

,Region,Variable,Year,Unit,PowerCode,Value,Source,Service
49,India,Rail containers transport (TEU),1996,Number,Units,704000.0,International Transport Forum,Freight
50,India,Rail containers transport (TEU),1997,Number,Units,722000.0,International Transport Forum,Freight
51,India,Rail containers transport (TEU),1998,Number,Units,802000.0,International Transport Forum,Freight
52,India,Rail containers transport (TEU),1999,Number,Units,903000.0,International Transport Forum,Freight
53,India,Rail containers transport (TEU),2000,Number,Units,1045000.0,International Transport Forum,Freight
...,...,...,...,...,...,...,...,...
6476,Belarus,Rail containers transport (weight),2017,Tonnes,Thousands,4786.0,International Transport Forum,Freight
6477,Belarus,Rail containers transport (weight),2018,Tonnes,Thousands,5478.3,International Transport Forum,Freight
6478,Belarus,Rail containers transport (TEU),2016,Number,Units,333484.0,International Transport Forum,Freight
6479,Belarus,Rail containers transport (TEU),2017,Number,Units,524020.0,International Transport Forum,Freight
6480,Belarus,Rail containers transport (TEU),2018,Number,Units,635886.0,International Transport Forum,Freight

# Adding the "Technology" and "Fuel" columns
    Rule: The dataset does not provide any information about technology or fuel. So, we set the value of "All" in both cases

In [9]:
# Adding the "Technology" and "Fuel" columns
df["Fuel"] = ["All"]*len(df) 
df["Technology"] = ["All"]*len(df)
df

,Region,Variable,Year,Unit,PowerCode,Value,Source,Service,Fuel,Technology
49,India,Rail containers transport (TEU),1996,Number,Units,704000.0,International Transport Forum,Freight,All,All
50,India,Rail containers transport (TEU),1997,Number,Units,722000.0,International Transport Forum,Freight,All,All
51,India,Rail containers transport (TEU),1998,Number,Units,802000.0,International Transport Forum,Freight,All,All
52,India,Rail containers transport (TEU),1999,Number,Units,903000.0,International Transport Forum,Freight,All,All
53,India,Rail containers transport (TEU),2000,Number,Units,1045000.0,International Transport Forum,Freight,All,All
...,...,...,...,...,...,...,...,...,...,...
6476,Belarus,Rail containers transport (weight),2017,Tonnes,Thousands,4786.0,International Transport Forum,Freight,All,All
6477,Belarus,Rail containers transport (weight),2018,Tonnes,Thousands,5478.3,International Transport Forum,Freight,All,All
6478,Belarus,Rail containers transport (TEU),2016,Number,Units,333484.0,International Transport Forum,Freight,All,All
6479,Belarus,Rail containers transport (TEU),2017,Number,Units,524020.0,International Transport Forum,Freight,All,All
6480,Belarus,Rail containers transport (TEU),2018,Number,Units,635886.0,International Transport Forum,Freight,All,All

# Creating the "Mode" column
    Rule: This dataset contains information about "Rail" and "Shipping". To determine whether it is a "Rail" or "Shipping," we will use the data provided in the "Variable" column.

In [10]:
# Setting the keywords to search for
rail_keyword = "Rail"
shipping_keyword = "Maritime"

#Variable holding the mode type
mode_results = []

# For each row, get the index and rename
for index, row in df.iterrows():
    
    if rail_keyword in row["Variable"]:
        mode_results.append("Rail")
    else:
        mode_results.append("Shipping")

# Adding the new column to the dataframe
df["Mode"] = mode_results

# Asserting that all the mode for each row is correct
for index, row in df.iterrows():
    if rail_keyword in row["Variable"]:
        assert row["Mode"] == "Rail"
    else:
        assert row["Mode"] == "Shipping"

# Printing the dataframe        
df

,Region,Variable,Year,Unit,PowerCode,Value,Source,Service,Fuel,Technology,Mode
49,India,Rail containers transport (TEU),1996,Number,Units,704000.0,International Transport Forum,Freight,All,All,Rail
50,India,Rail containers transport (TEU),1997,Number,Units,722000.0,International Transport Forum,Freight,All,All,Rail
51,India,Rail containers transport (TEU),1998,Number,Units,802000.0,International Transport Forum,Freight,All,All,Rail
52,India,Rail containers transport (TEU),1999,Number,Units,903000.0,International Transport Forum,Freight,All,All,Rail
53,India,Rail containers transport (TEU),2000,Number,Units,1045000.0,International Transport Forum,Freight,All,All,Rail
...,...,...,...,...,...,...,...,...,...,...,...
6476,Belarus,Rail containers transport (weight),2017,Tonnes,Thousands,4786.0,International Transport Forum,Freight,All,All,Rail
6477,Belarus,Rail containers transport (weight),2018,Tonnes,Thousands,5478.3,International Transport Forum,Freight,All,All,Rail
6478,Belarus,Rail containers transport (TEU),2016,Number,Units,333484.0,International Transport Forum,Freight,All,All,Rail
6479,Belarus,Rail containers transport (TEU),2017,Number,Units,524020.0,International Transport Forum,Freight,All,All,Rail
6480,Belarus,Rail containers transport (TEU),2018,Number,Units,635886.0,International Transport Forum,Freight,All,All,Rail

# Setting the "Vehicle Type" column
    Rule: Since the entire dataset is about containers data, the vehicle type is "Container

In [11]:
# Creating the container column
df["Vehicle Type"] = ["Container"]*len(df)
df

,Region,Variable,Year,Unit,PowerCode,Value,Source,Service,Fuel,Technology,Mode,Vehicle Type
49,India,Rail containers transport (TEU),1996,Number,Units,704000.0,International Transport Forum,Freight,All,All,Rail,Container
50,India,Rail containers transport (TEU),1997,Number,Units,722000.0,International Transport Forum,Freight,All,All,Rail,Container
51,India,Rail containers transport (TEU),1998,Number,Units,802000.0,International Transport Forum,Freight,All,All,Rail,Container
52,India,Rail containers transport (TEU),1999,Number,Units,903000.0,International Transport Forum,Freight,All,All,Rail,Container
53,India,Rail containers transport (TEU),2000,Number,Units,1045000.0,International Transport Forum,Freight,All,All,Rail,Container
...,...,...,...,...,...,...,...,...,...,...,...,...
6476,Belarus,Rail containers transport (weight),2017,Tonnes,Thousands,4786.0,International Transport Forum,Freight,All,All,Rail,Container
6477,Belarus,Rail containers transport (weight),2018,Tonnes,Thousands,5478.3,International Transport Forum,Freight,All,All,Rail,Container
6478,Belarus,Rail containers transport (TEU),2016,Number,Units,333484.0,International Transport Forum,Freight,All,All,Rail,Container
6479,Belarus,Rail containers transport (TEU),2017,Number,Units,524020.0,International Transport Forum,Freight,All,All,Rail,Container
6480,Belarus,Rail containers transport (TEU),2018,Number,Units,635886.0,International Transport Forum,Freight,All,All,Rail,Container

# Setting the correct unit name for the "Unit" column
    Rule: For the rows that provide info about weight, the unit is 10^3 tonnes / yr. Therfore, the magnitude of the value provided is kept the same For the rows that provide info about TEU, the unit is kept as "Number"

In [12]:
# For each row, do the following
for index, row in df.iterrows():
    if row["Unit"] == "Tonnes":
        
        # Setting the new value for the cell
        df.set_value(index, 'Unit', "10^3 tonnes / yr")

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

# Removing the "PowerCode" column
    Rule: This column is not necessary

In [13]:
df.drop(columns=["PowerCode"], inplace=True)
df

,Region,Variable,Year,Unit,Value,Source,Service,Fuel,Technology,Mode,Vehicle Type
49,India,Rail containers transport (TEU),1996,Number,704000.0,International Transport Forum,Freight,All,All,Rail,Container
50,India,Rail containers transport (TEU),1997,Number,722000.0,International Transport Forum,Freight,All,All,Rail,Container
51,India,Rail containers transport (TEU),1998,Number,802000.0,International Transport Forum,Freight,All,All,Rail,Container
52,India,Rail containers transport (TEU),1999,Number,903000.0,International Transport Forum,Freight,All,All,Rail,Container
53,India,Rail containers transport (TEU),2000,Number,1045000.0,International Transport Forum,Freight,All,All,Rail,Container
...,...,...,...,...,...,...,...,...,...,...,...
6476,Belarus,Rail containers transport (weight),2017,10^3 tonnes / yr,4786.0,International Transport Forum,Freight,All,All,Rail,Container
6477,Belarus,Rail containers transport (weight),2018,10^3 tonnes / yr,5478.3,International Transport Forum,Freight,All,All,Rail,Container
6478,Belarus,Rail containers transport (TEU),2016,Number,333484.0,International Transport Forum,Freight,All,All,Rail,Container
6479,Belarus,Rail containers transport (TEU),2017,Number,524020.0,International Transport Forum,Freight,All,All,Rail,Container
6480,Belarus,Rail containers transport (TEU),2018,Number,635886.0,International Transport Forum,Freight,All,All,Rail,Container

# Determining the available values under the "Variable" column

In [14]:
set(df["Variable"])

{'Maritime containers transport (TEU)',
 'Maritime containers transport (weight)',
 'Rail containers transport (TEU)',
 'Rail containers transport (weight)'}

# Setting the correct value for "Variable" column
    Rule: Container data is presented as either TEU or Weight. Therefore, this is how each of the current variable values will be mapped to the new Variable:
     'Maritime containers transport (TEU)' --> Freight (TEU)
     'Maritime containers transport (weight)' --> Freight (Weight)
     'Rail containers transport (TEU)' --> Freight (TEU)
     'Rail containers transport (weight)' --> Freight (Weight)

In [15]:
# Looping each row and setting the correct value
for index, row in df.iterrows():
    if "TEU" in row["Variable"]:
        df.set_value(index,"Variable","Freight (TEU)")
    else:
        df.set_value(index,"Variable","Freight (Weight)")

# Validating the data
for index, row in df.iterrows():
    if row["Variable"] == "Freight (TEU)":
        assert row["Unit"] == "Number"
    else:
        assert row["Unit"] == "10^3 tonnes / yr"

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  after removing the cwd from sys.path.
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

# Reordering the columns
    Rule: The columns have to be presented in the order presented by the template

In [16]:
columnsTitles = ['Source', 'Region', 'Variable','Unit','Service','Mode','Vehicle Type','Technology','Fuel','Value','Year']
df = df.reindex(columns=columnsTitles)

# Exporting Results - Programming Friendly View

In [17]:
# Setting the column id for the dataframe
df["ID"] = [data_id] *len(df)

# Exporting results
df.to_csv(raw_data_csv_path+data_id+"_cleaned_PF.csv",index=False)

# Algorithm for printing the user friendly view

In [18]:
# Get the columns to preserve
columns_to_preserve = ['Source','Region','Variable','Unit','Service','Mode','Vehicle Type','Technology','Fuel']

# Grouping by country
group_by_country = df.groupby(df.Region)

# Getting the list of countries
list_of_countries = list(group_by_country.groups.keys())

# Saving the dict of all the final dataframes of each country
dict_of_final_dataframes_per_country = {}

# For each country, perform the following algorithm
for country in list_of_countries:
    
    # Get the df corresponding to the given country
    df_country_X = group_by_country.get_group(country)
    
    # Get the list of years available for the given year
    list_of_years_for_country_X = list(set(df_country_X["Year"]))

    # Group the data of country X by year
    group_by_year_country_X = df_country_X.groupby(df_country_X.Year)
    
    # Create a structure that will hold the dataframes of each year
    df_per_year_for_country_X = {}
    
    # Obtain the dataframe for each year
    for name, group in group_by_year_country_X:
        df_per_year_for_country_X[name] = group

    # Do the necessary processing required in the DF of each year
    for year in list_of_years_for_country_X:
        
        # Obtain the dataframe for country X in year Y
        df_country_X_in_year_Y = df_per_year_for_country_X[year]
        
        # Renaming and droping columns
        df_country_X_in_year_Y.rename(columns={"Value":year}, inplace = True)
        df_country_X_in_year_Y.drop(columns=["Year"], inplace = True)

    # Concatenating all the dataframes of a given country into a single dataframe
    list_of_all_df_for_country_X = list(df_per_year_for_country_X.values())
    df_concat_all_dfs_for_country_x = pd.concat(list_of_all_df_for_country_X,sort=False, verify_integrity=True,join='outer')

    # Creating the final df for country X by eliminating all NAN and combining rows
    final_df_for_country_x = df_concat_all_dfs_for_country_x.groupby(columns_to_preserve)[list_of_years_for_country_X].first().reset_index()

    # Saving the final df of country X in the list of all countries df
    dict_of_final_dataframes_per_country[country] = final_df_for_country_x

# Concatenate all the dataframes of the countries
list_df_for_all_countries_final = list(dict_of_final_dataframes_per_country.values())
df_with_all_countries_data = pd.concat(list_df_for_all_countries_final,sort=False, verify_integrity=True,join='outer',ignore_index=True)

# Reordering the dataframe and ensuring all columns are in the correct order
all_column_names = set(df_with_all_countries_data.keys())
list_of_none_year_columns = ['Source', 'Region', 'Variable','Unit','Service','Mode','Vehicle Type','Technology','Fuel','Value']
none_year_columns = set(list_of_none_year_columns)
numberic_columns = list(all_column_names - none_year_columns)
numberic_columns.sort()
order_of_columns = list_of_none_year_columns + numberic_columns
df_with_all_countries_data = df_with_all_countries_data.reindex(columns=order_of_columns)

# Setting the column id for the dataframe
df_with_all_countries_data["ID"] = [data_id] *len(df_with_all_countries_data)

# Exporting the final dataframe
df_with_all_countries_data.to_csv(raw_data_csv_path+data_id+"_cleaned_UF.csv",index=False)